a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
html, body{
  height: 100%;
  font-family: "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
   background: linear-gradient(150deg, #6B68A9, #7FBFEE, #60A9A7);
}
a {
  text-decoration: none;
  color: #ffff;
}
li {
  margin: 10px;

}

#title{
  font-size: 70px;
  text-align: center;
  padding-top: 40px;
  color: #fff;
}

#M_title{
    text-align: center;
    font-size:50px;
    color: #fff;
    padding-bottom: 10px;
    border-bottom:1px solid #fff;
}

#Menu {
  width: 60%;
  height: auto;
  padding: 40px;
  margin: 40px auto;
  background-color: rgba(00,00,00, 0.33);
  font-size: 40px;

}
#content {
  padding-top: 15px;
}
